<p class="achievement-text">
  <strong>{{achievement.title}}</strong>
  <span>{{achievement.description}} {{yield}}</span>
</p>
<span class="icon-frame icon-frame-50">
  <img src="{{achievement.image}}" height="50" width="50">
</span>
<div class="points">
  <strong>
    {{achievement.points}}
  </strong>
  <span class="date">
    {{achievement.achievedAt}}
  </span>
</div>
  <div class="indicator">
    <div class="glyphicon glyphicon-plus"></div>
    <div class="glyphicon glyphicon-minus"></div>
  </div>
<div id="{{achievement.id}}" class="achievement-metadata collapse">
  <div class="row">
    <div class="col-xs-10 col-xs-push-1">
      {{#bs-progress}}
        {{bs-progress-bar maxValue=achievement.maxValue minValue=achievement.minValue value=achievement.value text=true}}
      {{/bs-progress}}
    </div>
  </div>
</div>
