{{yield}}


<div class="progress" style="heigt">
  <div class="progress-bar progress-bar-{{colorMode}}" style={{progressStyle}}>
    {{quest.title}}: {{quest.valueNow}} / {{quest.valueMax}}
  </div>
</div>
