{{yield}}
<li class="list-group-item">
  <div class="col-xs-1 position">
    <span>{{table-leaderboard.position}}</span>
  </div>
  <div class="col-xs-2 hidden-xs">
    <img class="img-responsive img-circle profile-picture" src="{{table-leaderboard.image}}"/>
  </div>
  <div class="col-xs-3 username">
    <span>{{table-leaderboard.username}}</span>
  </div>
  <div class="col-xs-4 col-xs-push-2 col-sm-push-0 col-md-push-0 points">
    <span>{{table-leaderboard.value}}</span>
  </div>
  <div  class="col-xs-2 col-xs-push-2 col-md-push-0 col-sm-push-0 friend">
    <button><i class="glyphicon glyphicon-plus"></i></button>
  </div>
  <div class="clearfix"></div>
</li>
