{{yield}}
<li class="list-group-item">
  <div class="col-md-1 position">
    <span>{{table-leaderboard.position}}</span>
  </div>
  <div class="col-md-2 hidden-xs">
    <img class="img-responsive img-circle profile-picture" src="{{table-leaderboard.image}}"/>
  </div>
  <div class="col-md-3 username">
    <span>{{table-leaderboard.username}}</span>
  </div>
  <div class="col-md-4 points">
    <span>{{table-leaderboard.value}}</span>
  </div>
  <div  class="col-md-2 friend">
    <button><i class="glyphicon glyphicon-plus"></i></button>
  </div>
  <div class="clearfix"></div>
</li>
