<li class="list-group-item">
  <div  class="col-md-1 position">
    <span>{{position}}</span>
  </div>
  <div class="col-md-2">
    <img class="img-responsive img-circle profile-picture" src="{{image}}"/>
  </div>
  <div class="col-md-3 username">
    <span>{{username}}{{yield}}</span>
  </div>
  <div class="col-md-4 points">
    <span>{{points}}</span>
  </div>
  <div  class="col-md-2 friend">
    <button><i class="glyphicon glyphicon-plus"></i></button>
  </div>
  <div class="clearfix"></div>
</li>
