<div class="thumbnail-vertical">
  <div class="hidden-xs thumbnail-vertical-image {{if isLeft "image-left" "image-right"}}">
    <img class="img-responsive img-circle image" src="{{image}}"/>
  </div>
  <div class="thumbnail-vertical-body {{if isLeft "body-right" "body-left"}}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{title}}</h3>
      </div>
      <div class="panel-body">
        {{yield}}
      </div>
    </div>
  </div>
</div>
