{{outlet}}
<div class="jumbotron deceptitron">
  <div class="container">
    <div class="page-header">
      <h1>SQL-Trainer <small>Choose trainer configuration...</small></h1>
    </div>
  </div>
</div>
<div class="container pretrainer">
  <div class="col-sm-6">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          Difficulty:
        </div>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-success active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> beginner
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option2" autocomplete="off"> intermidiate
          </label>
          <label class="btn btn-warning">
            <input type="radio" name="options" id="option3" autocomplete="off"> advanced
          </label>
          <label class="btn btn-danger">
            <input type="radio" name="options" id="option4" autocomplete="off"> expert
          </label>
          <label class="btn btn-danger">
            <input type="radio" name="options" id="option5" autocomplete="off"> impossible
          </label>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Categories:
        </div>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
            <input type="checkbox" autocomplete="off" checked> Joins
          </label>
          <label class="btn btn-primary">
            <input type="checkbox" autocomplete="off"> Outer-Joins
          </label>
          <label class="btn btn-primary">
            <input type="checkbox" autocomplete="off"> Aggregation
          </label>
          <label class="btn btn-primary">
            <input type="checkbox" autocomplete="off"> Select
          </label>
          <label class="btn btn-primary">
            <input type="checkbox" autocomplete="off"> Grouping
          </label>
        </div>
      </div>
      <div class="checkbox -inline">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value=option1 checked=Check1> Hints
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox2" value="option2" checked={{Check2}}> Highlighting
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3" checked=Check3> Hot-Streak
      </label>
      </div>
      <p class="text-right"><strong>130%</strong></p>
      <br>
      {{input type="checkbox" checked=checkMe}}
      {{textarea value=importantinfo cols="40" rows="1"}}
      {{textarea value=importantinfo2 cols="40" rows="1"}}
      <button type="button" {{action "routeaction" checkMe Check2}}>route button</button>


    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Leaderbord SQL
        </div>
        <ul class="table-leaderboard">
          {{#table-leaderboard "1" "username" "12345" "img/achievement-logo-01.jpg"}}
          {{/table-leaderboard}}
          {{#table-leaderboard "2" "username" "12345" "img/achievement-logo-01.jpg"}}
          {{/table-leaderboard}}
          {{#table-leaderboard "3" "username" "12345" "img/achievement-logo-01.jpg"}}
          {{/table-leaderboard}}
          {{#table-leaderboard "4" "username" "12345" "img/achievement-logo-01.jpg"}}
          {{/table-leaderboard}}
          {{#table-leaderboard "5" "username" "12345" "img/achievement-logo-01.jpg"}}
          {{/table-leaderboard}}
        </ul>
      </div>
    </div>
</div>
</div>
