{{outlet}}
<div class="jumbotron deceptitron">
  <div class="container">
    <div class="page-header">
      <h1>SQL-Trainer <small>Choose trainer configuration...</small></h1>
    </div>
  </div>
</div>
<div class="container pretrainer">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <!-- PRETRAINER CHOICES -->
        <div class="panel panel-default no-margin">
          <div class="panel-heading no-margin">
            set Difficulty:
          </div>
          {{bootstrap-slider onConfirm=(action "setDifficulty")}}
          <div class=bttn-group id="CustomizePanel">
            <p>
              <button type="button" class="no-margin btn btn-primary" {{action "customize"}}>or Customize</button>
            </p>
          </div>
        </div>
        <div class="panel panel-default no-margin" id="CategoriePanel" hidden=true>
          <div class="panel-heading">
            choose your categories:
          </div>
          <div class="bttn-group" data-toggle="buttons">
            <label class="btn btn-checks btn-primary">
              <input type="checkbox" id="catCheckbox1" name="bonus1" value=10 {{action "setCategorie" 1 on="change"}}> Joins
            </label>
            <label class="btn btn-checks btn-primary">
              <input type="checkbox" id="catCheckbox2" name="bonus2" value=10 {{action "setCategorie" 2 on="change"}}> Outer-Joins
            </label>
            <label class="btn btn-checks btn-primary">
              <input type="checkbox" id="catCheckbox3" name="bonus3" value=15 {{action "setCategorie" 3 on="change"}}> Grouping
            </label>
            <label class="btn btn-checks btn-primary">
              <input type="checkbox" id="catCheckbox4" name="bonus4" value=15 {{action "setCategorie" 4 on="change"}}> Aggregation
            </label>
            <label class="btn btn-checks btn-primary">
              <input type="checkbox" id="catCheckbox5" name="bonus5" value=15 {{action "setCategorie" 5 on="change"}}> Subquery
            </label>
            <label class="btn btn-checks btn-primary">
              <input type="checkbox" id="catCheckbox6" name="bonus6" value=15 {{action "setCategorie" 6 on="change"}}> Recursion
            </label>
          </div>
        </div>
        <div class="panel panel-default no-margin">
          <div class="panel-heading">
            choose your mods:
          </div>
          <div class="bttn-group" data-toggle="buttons">
            <label class="btn btn-checks">
              <input type="checkbox" id="inlineCheckbox1" name="bonus7" value=10 {{action "setBonus" 7 on="change"}}> Hints
            </label>
            <label class="btn btn-checks">
              <input type="checkbox" id="inlineCheckbox2" name="bonus8" value=20 {{action "setBonus" 8 on="change"}}> Highlighting
            </label>
            <label class="btn btn-checks">
              <input type="checkbox" id="inlineCheckbox3" name="bonus9" value=60  {{action "setBonus" 9 on="change"}}> Result Set
            </label>
          </div>
        </div>
        <div class=bttn-group>
            <button type="button" class="btn btn-primary btn-lg btn-block" {{action "start"}}>Start with: {{multiplicator}}% point gain</button>
        </div>
      </div>

    </div>

    <div class="col-sm-6">
      <!-- LEADERBOARD -->
      <div class="panel panel-default">
        <div class="panel-heading">
          Leaderbord SQL
        </div>
        <ul class="table-leaderboard">
          {{#table-leaderboard "1" "username" "12345" "img/achievement-logo-01.jpg"}}
          {{/table-leaderboard}}
          {{#table-leaderboard "2" "username" "12345" "img/achievement-logo-01.jpg"}}
          {{/table-leaderboard}}
          {{#table-leaderboard "3" "username" "12345" "img/achievement-logo-01.jpg"}}
          {{/table-leaderboard}}
          {{#table-leaderboard "4" "username" "12345" "img/achievement-logo-01.jpg"}}
          {{/table-leaderboard}}
          {{#table-leaderboard "5" "username" "12345" "img/achievement-logo-01.jpg"}}
          {{/table-leaderboard}}
        </ul>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="col-sm-6">
    <!-- ACHIEVEMENTS -->
    <div class="panel panel-default">
      <h4>Achievements</h4>
      <div class="row">
        {{#each model.achievements as |achievement|}}
          <div class="col-sm-3">
            {{achievement-small achievement}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <!-- QUESTS -->
    <div class="panel panel-default">
      <h4> Quests </h4>
      {{#each model.quests as |quest|}}
        {{quest-general quest}}
      {{/each}}
    </div>
  </div>
</div>
