{{outlet}}
<div class="container profile">
  <div class="row">
    <div class="col-sm-4 hidden-xs" style="height:100%">
      <img class="fb-image-profile thumbnail img-circle" src="img/alchemist_logo.jpg"/>
    </div>
    <div class="col-xs-8 col-sm-8"> <!-- max username: 14 -->
      <h1>
        {{model.profile.username}}
        <br class="visible-xs">
        <small>
          {current status}
        </small>
        {{#unless isFriend}}
          <button class="btn btn-default btn-xs btn-info" style="margin-left: 50px;">
            Add as Friend
          </button>
        {{/unless}}
      </h1>

      <hr>
    </div>
    <div class="col-xs-4 visible-xs">
      <img align="right" class="fb-image-profile thumbnail img-circle" src="img/alchemist_logo.jpg"/>
    </div>
    <div class="col-xs-12 col-sm-4" id="table-col">
      <table class="table table-striped table-hover profile-stats">
        <tbody>
          {{#if isFriend}}
            <tr>
              <td>Last Login</td><td> {{moment-from-now model.profile.globalStats.lastLogin interval=1000}} </td>
            </tr>
          {{/if}}
          <tr>
            <td>Total Time Spend</td><td> {{transform-minutes model.profile.globalStats.timeSpend}} </td>
          </tr>
          <tr>
            <td>Total Tasks Done</td><td> {{model.profile.globalStats.tasksDone}} </td>
          </tr>
          <tr>
            <td>Task Points</td><td> {{model.profile.globalStats.pointsEarned}} </td>
          </tr>
          <tr>
            <td>Achievement Points</td><td> {{model.profile.globalStats.achievementPoints}} </td>
          </tr>
          <tr>
            <td>Most played Mode</td><td> {{model.profile.globalStats.mostPlayedMode}} </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4 hidden-xs">
      {{chart-js owner=ownerData}}
      {{!profile-chart}}
    </div>
    <div class="clearfix"/>
    <div class="col-xs-12 col-md-12">
      <div class="col-md-8 hidden-xs" id="recent_achievements_header">
        <h3>Recent Achievements</h3>
        <hr>
      </div>
    </div>
  </div>


  <div class="feature-list">
    <div class="visible-xs">
      <h3>Recent Achievements</h3>
      <hr>
    </div>
    <div class="well">
      <div class="row achievements">
        {{#each model.achievements as |achievement|}}
            <div class="col-sm-2 col-xs-3">
              {{achievement-small achievement}}
            </div>
        {{/each}}
      </div>
    </div>

    <div class="panel panel-default hidden-xs">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8 vertical-center">
            {{!profile-chart-bottom model.chartData}}
          </div><div class="col-md-4 vertical-center">
            {{!profile-carousel model.chartData}}
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /.Feature-List -->
</div>
