{{outlet}}
<div class="panel panel-default" style="width: 500px; margin: 0 auto;">
  <div class="panel-heading">
    <h3 class="panel-title text-center">Sign Up</h3>
  </div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <div class="signup-username-inputfield">
          {{input type="text" value=username class="form-control" placeholder="Username" key-press="usernameChanged"}}
          <div class="error-indicator">
            <span class="glyphicon glyphicon-remove"></span>
          </div>
        </div>
        <div class="statusbar"></div>
      </div>
      <div class="form-group">
        <label for="emailAddress">Email address</label>
        <div class="signup-emailAddress-inputfield">
          {{input type="email" value=emailAddress class="form-control" placeholder="Email" key-press="emailAddressChanged"}}
          <div class="error-indicator">
            <span class="glyphicon glyphicon-remove"></span>
          </div>
        </div>
        <div class="statusbar ok"></div>
      </div>
      <div class="form-group">
        <label for="passwordField">Password</label>
        {{input type="password" value=password class="form-control" placeholder="Password" key-press="passwordChanged"}}
        <div class="statusbar-progress" {{bind-attr class="passwordscore"}}>
          <div class="indicator"></div>
          <div class="indicator"></div>
          <div class="indicator"></div>
          <div class="indicator"></div>
          <div class="indicator"></div>
        </div>
      </div>
      <div class="clearfix"></div>
      <button type="submit" class="btn btn-default pull-right" style="width: 150px;" {{action "submit"}}>Sign Up</button>
    </form>
  </div>
</div>
